html {
  background-repeat:no-repeat;
  background: -moz-linear-gradient(to top, #ee9f00, #009fee) fixed;
  background: -webkit-linear-gradient(to top, #ee9f00, #009fee) fixed;
  background: linear-gradient(to top, #ee9f00, #009fee) fixed;
};

@font-face {
  font-family: "VCR Mono";
  src: url("https://github.com/LeWolfYT/LeWolfYT.github.io/blob/69813c59386b17861cfef83257c46eba7dbddef3/VCR_OSD_MONO.woff")
};

h1 {
  font-fanily: "VCR Mono", sans-serif;
};

h2 {
  font-fanily: "VCR Mono", sans-serif;
};

h3 {
  font-fanily: "VCR Mono", sans-serif;
};

p {
  font-fanily: "VCR Mono", sans-serif;
}
